@tailwind base;
@tailwind components;
@tailwind utilities;

/* css reset */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
    scroll-behavior: smooth;
    font-family: Inter, Helvetica, Arial, sans-serif;
    --colorDark: #003153; /* Darker background for better contrast */
    --colorLight: ##f7f9f9; /* Lighter color for text */
    --colorPrimary: #a1f7a6; /* Calmer primary color */
    --colorSecondary: #9381ff; /* Contrasting secondary color */
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--colorLight);
    color: var(--colorDark);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* end of css reset */
